<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center; font-family: Arial;">Компьютерный клуб</h1>
<div style="display: flex; flex-direction: row; justify-content: space-between">
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #1</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #2</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #3</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #4</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 </div>
<hr>
<hr>
<div style="display: flex; flex-direction: row; justify-content: space-between">
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #5</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
<div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #6</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #7</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #8</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
</div>
<hr>
<hr>
<div style="display: flex; flex-direction: row; justify-content: space-between">
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #9</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #10</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #11</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
 <div style="display: flex; flex-direction: column;">
 <h2 style="text-align: center">Компьютер #12</h2>
 <a href="/welcome"><img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" height="170" width="170"></a>
 </div>
</div>
</body>
</html>