<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="half">
            <img src="https://w.forfun.com/fetch/4d/4d671cfe78cbb63a617875e1f6023157.jpeg" alt="Image 1">
            <a href="/buycats" class="btn">Купить кота</a>
        </div>
        <div class="half">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/07._Camel_Profile%2C_near_Silverton%2C_NSW%2C_07.07.2007.jpg/1200px-07._Camel_Profile%2C_near_Silverton%2C_NSW%2C_07.07.2007.jpg" alt="Image 2">
            <a href="/buycamels" class="btn">Купить верблюда</a>
        </div>
    </div>
</body>
</html>